In [7]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from psycopg2 import sql
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import psycopg2
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

In [10]:

def get_connection():
    # Thông tin kết nối
    db_name = "thesis_stock"
    db_user = "postgres"
    db_password = "20272027"
    db_host = "localhost"
    db_port = "5432"

    # Chuỗi kết nối
    connection_string = f"dbname='{db_name}' user='{db_user}' password='{db_password}' host='{db_host}' port='{db_port}'"
    
    return psycopg2.connect(connection_string)

# Create a SQLAlchemy engine
db_connection_str = 'postgresql+psycopg2://postgres:20272027@localhost/thesis_stock'
db_connection = create_engine(db_connection_str)

query = """
SELECT "Date", "Price", "Stock_Name"
FROM stock."Fact_Stock"
JOIN stock."Dim_Stock"
ON stock."Fact_Stock"."Stock_ID" = stock."Dim_Stock"."Stock_ID";
"""

# Fetch the data
df = pd.read_sql(query, db_connection)

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Sort data by date
df.sort_values(by=['Stock_Name', 'Date'], inplace=True)


# Save DataFrame to CSV
df.to_csv('stock_data.csv', index=False)

In [11]:
df.head()

           Date   Price Stock_Name
2346 2015-01-05  5850.8        AAA
2345 2015-01-06  5935.6        AAA
2344 2015-01-07  6147.5        AAA
2343 2015-01-08  6020.4        AAA
2342 2015-01-09  5893.2        AAA